/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-color: var(--background-color);
  color: var(--accent-color); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--gradient);
  font-variation-settings: "wght" var(--main-font-weight);
  max-inline-size: 700px;
  margin: 0 auto;
}

.header {
  font-family: var(--accent-font);
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  margin-bottom: 98px;
  margin-top: 102px; 
  margin-inline: auto;
  padding-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  padding-block-end: 25px;
  display: flex; 
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .header {
    inline-size: 100vw;
    margin-block-end: 104px;
  }

  .content {
    inline-size: 100vw;
  }

  .card {
    inline-size: 100vw;
  }
}

.logo {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  text-align:start;
  align-self: center;
  margin-left: 12px;
}

.theme-menu__button {
  font-size: 14px;
  text-transform: uppercase;
  border: none;  
  position: relative;
  background: transparent;
  transition: opacity 0.3s ease; 
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s ease; 
  cursor: pointer;
}

/*menu buttons underline saga begins*/

.theme-menu__button::after {
  content: " ";
  display: block;
  margin-block-start: 0;
  background-color: currentColor;
  transition: color 0.3s, inline-size 0.3s;
  inline-size: 0%;
  block-size: 2px;
}

.theme-menu_button:focus {
  outline: none;
  opacity: 0.6;
} 

.theme-menu_button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu_button:focus-visible::after {
  opacity: 0.6;
  inline-size: 100%;
}

/*end of underline saga */

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
  cursor: initial;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  opacity: 0.6;
  inset-inline-start: -15px;
  animation: flag-animation 0.5s ease-in-out infinite alternate; 
}

.card__list {
  display: grid; 
  gap: 50px;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  padding-block-end: 25px; 
  font-family: var(--main-font);
}

.card__header {
  font-variation-settings: "wght" var(--title-font-weight);
  font-size: 18px;
  padding: 3px 24px 3px 10px; 
  border-block-end: 2px solid var(--accent-color);
}

.image__wrapper {
  position: relative; 
  overflow: hidden; 
}

.card__image {
  border-block-end: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.text {
  display: grid;
  gap: 27px; 
  padding: 25px; 
  font-weight: var(--main-font-weight);
  font-size: 18px; 
  line-height: 116.667%; 
}

.card__label {
  position: absolute; 
  z-index: 2; 
  top: clamp(1.438rem, 1.393rem + 0.188vw, 1.563rem);
  right: clamp(0.688rem, 0.379rem + 1.315vw, 1.563rem);
  text-transform: uppercase;
  font-family: var( --accent-font);
  font-size: 14px; 
  font-weight: var(--main-font-weight);
  color: var(--accent-color);
  text-shadow: -1px 0 var(--background-color),
  0 1px var(--background-color), 
  1px 0 var(--background-color),
  0 -1px var(--background-color); 
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  gap: 4px;
  padding-inline-end: 25px;
}

.average__botton {
  position: relative;
  font-size: 14px;
  font-family: var(--accent-font);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  line-height: 90%;
}

.card__like-button {
  width: 130px;
  height: 38px;
  padding-block-end: 2px;
}

.card__like-button:focus {
  outline: none; 
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: 0.3s ease; 
}

.card__like-button:hover {
  outline: none; 
  cursor: pointer;
}

.card__like-button::after {
  outline: none;
  content: "";
  position: absolute; 
  z-index: 1;
  background: var(--button-paint-color);
  margin-block-start: 0;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
}

.card__like-button:hover::after {
  transform: scaleX(1);
  outline: none; 
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.save__button {
  margin-top: 54px;
  inline-size: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  block-size: 51px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  margin: 54px 180px 105px 180px;
  flex-wrap: wrap;
}

@media (width <= 375px) {
  .save__button {
    block-size: 80px; 
    flex-direction: column;
    margin: 54px 32px 102px 33px; 
  }

  .save__button__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center; 
  }
}

.save__button__floppy {
  width: 21px;
  height: 21px;
}


.save__button__wrapper {
  position: relative;
  z-index: 2;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.save__button:hover {
  outline: none; 
  cursor: pointer;
}

.save__button::after {
  outline: none;
  content: "";
  position: absolute; 
  z-index: 1;
  background: var(--button-paint-color);
  margin-block-start: 0;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
}

.save__button:hover::after {
  transform: scaleX(1);
  outline: none; 
  cursor: pointer;
}

.save__button:focus-visible {
  outline: none; 
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: 0.3s ease; 
}

.card__icon-button {
  block-size: 38px;
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border-color 0.3s ease; 
}

.card__icon-button:focus {
  outline: none;
  border: transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: 0.3s ease; 
}

.card__icon-button:hover {
  outline: none; 
  cursor: pointer;
}

@supports (text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color)) {
  .card__label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.dialog {
  inline-size: clamp(21.313rem, 20.96rem + 1.502vw, 22.313rem);
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.dialog__leadin {
  display: flex; 
  margin-block-end: 30px;
  padding: 31px 32px 30px 31px;
  gap: 20px;
  align-items: center;
}

.dialog__image {
  inline-size: 39px;
  block-size: 39px; 
  padding: 0;
  flex-shrink: 0;
}

.dialog__text {
  font-size: 14px;
  font-family: var(--accent-font);
  line-height: 150%;
  text-transform: uppercase;
  color: var(--accent-color);
}

.dialog__button {
  padding: 9px 0;
  font-size: 14px;
  text-transform: uppercase;
  inline-size: 100%;
}

.dialog::backdrop {
  background-color:rgb(0 0 0 / 0.75);
}

.dialog__button:hover {
  outline: none; 
  cursor: pointer;
}

.dialog__button::after {
  outline: none;
  content: "";
  position: absolute; 
  z-index: 1;
  background: var(--button-paint-color);
  margin-block-start: 0;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
}

.dialog__button:hover::after {
  transform: scaleX(1);
  outline: none; 
  cursor: pointer;
}

.dialog__button:focus-visible {
  outline: none; 
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: 0.3s ease; 
}




