/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
  
:root {
    --main-font: "Inter-Variable";
    --accent-font: "PressStart2P";
    --main-font-weight: 400;
    --title-font-weight: 700;
    --background-color: #FFF;
    --accent-color: #000; 
  }
